<!DOCTYPE html>
<html>
<head>
	<title>CandleStick Graphs for Stocks</title>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">


<!--	 CSS-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #222;
      padding: 10px;
    }

    .main1 {
    padding-top: 70px;
    padding-bottom: 70px;
    }
  </style>

</head>
<body class="loader">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('home') }}">CandleStick Charts</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
<!--            <li><a href="{{ url_for('about') }}">About</a></li>-->
          <li><a href="{{ url_for('plot') }}">Plot</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
<!--          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
          <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <p>We specialize in blablabla</p>
      <form action="{{ url_for('plot') }}" method="POST">
        <div class="input-group">
          <input type="text" class="form-control" size="50" pattern="[A-Za-z]" placeholder="Enter TICKR symbol" required autofocus>
          <div class="input-group-btn">
            <button type="button" class="btn btn-danger">Plot</button>
          </div>
        </div>
      </form>
    </div>

    <div class="container main1">
        {%block content%}
        {%endblock%}
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small white">
      <!-- Copyright -->
        <div class="container-fluid text-center">© 2020 Copyright:
            <a href="https://github.com/cha1690"> Rucha Deshpande </a>
        </div>
      <!-- Copyright -->

    </footer>
<!-- Footer -->

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

	</body>
</html>